@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

#home {
    background-color: rgb(54, 52, 52);
}

/* Navigation bar */


.nav-link {
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    font-weight: 500;
    text-decoration: none;
}



/* Home Section */
.home__section h1, h4 {
    font-family: 'Montserrat', sans-serif;
}

.home__blob {
    width: 200px;
}

.home__blob-img {
    width: 225px;
}
